@main("Cat database") {
<div>
    <script language="JavaScript">
    ws = new WebSocket('ws://localhost:9000/socket');

    ws.onopen = function () {
        console.log("Connecting is success!!");
        <!--ws.send("Hello world!");-->
    };

    ws.onmessage = function (me) {
        var recievedData = me.data;
        var msg = "";
        msg += "Message is exists!!";
        msg += "recievedData: " + recievedData;

        console.log(msg);
        var view = document.getElementById("message");
        view.innerHTML += msg;
    };

    function send(){
        console.log("send");
        ws.send(document.getElementById("input").value);
    }
    </script>
    <div id="cats">
        <h2>Hello WebSocket</h2>
        <div id="message"></div>

        <input id="input" type="text" /> <button onclick="send()">Send</button>
    </div>
</div>
}